scipy
hdfe
numpy
seaborn
matplotlib
deap==1.3.3
sympy
pandas
scikit_learn
dill
lightgbm
gplearn
skorch
umap-learn
category_encoders
git+https://github.com/CircuitCM/pyade-numba 
networkx 
torch 
tpot 
linear-tree 
sklearn2pmml 
shap 
mlxtend
