scipy
hdfe
numpy
seaborn
matplotlib
deap
sympy
pandas
scikit_learn
dill
lightgbm
gplearn
skorch
umap-learn
category_encoders
git+https://github.com/CircuitCM/pyade-numba
networkx
torch
tpot
linear-tree
sklearn2pmml
shap
mlxtend
catboost
xgboost
smt
torchtext
openml
pmlb
nats_bench
redis
PyRSMQ
pymongo
pytorch-tabnet
scikit_obliquetree
simplegp
hebo
openai
digen
autofeat
imbalanced-learn
SciencePlots
pylatex
reportlab
svglib
dtreeviz
colour
numba
llvmlite
cloudpickle
pathos
ConfigSpace
openpyxl
qpsolvers
regex
optunahub
tabpfn
cachetools
daal
gpy
odeformer
codebleu
tree-sitter-python
